@model string

@{
    ViewData["Title"] = "Forcast";
}
@section Styles {
    <link rel="stylesheet" href="~/css/weather/weather.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/weather/weatherMap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/node_modules/leaflet/dist/leaflet.css" asp-append-version="true" />
}

<div class="top-section">
    <form asp-action="Forcast">
        <div class="search">
            <div class="search-bar">
                <input placeholder="Enter city name" type="text" id="name" name="newCityName">
            </div>
            <button type="submit" class="search-btn">Search</button>

        </div>
    </form>
</div>

<div class="top-components">
    @(await Component.InvokeAsync("CityTemperature", new { newCityName = ViewData["NewCityName"]?.ToString() }))

    @(await Component.InvokeAsync("TemperatureMap"))
</div>

@section Scripts {
    <script src="~/lib/node_modules/leaflet/dist/leaflet.js" asp-append-version="true"></script>
    <script src="~/js/weatherMap/weatherMap.js" asp-append-version="true"></script>
}