@model string

@{
    ViewData["Title"] = "Forcast";
}

<form asp-action="Forcast">
    <label>CityName</label>
    <input type="text">

    <button type="submit" class="btn btn-success">Search</button>
</form>

@(await Component.InvokeAsync("CityTemperature"))

