@model string

@{
    ViewData["Title"] = "Forcast";
}
@section Styles{
    <link rel="stylesheet" href="~/css/weather/weather.css" asp-append-version="true" />
}

<form asp-action="Forcast">
    <label>CityName</label>
    <input type="text" id="name" name="newCityName">

    <button type="submit" class="btn btn-success">Search</button>
</form>

@(await Component.InvokeAsync("CityTemperature", new {newCityName = ViewData["NewCityName"]?.ToString()}))